<!DOCTYPE HTML>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<title> Албания </title>
	<link rel = "icon" href="{% static 'img/logo1.png' %}" type = "image/x-icon">
	<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
		<a href="https://en.wikipedia.org/wiki/Albania">
		<img src="{% static 'img/logo.png' %}"></a>
		<ul class="social-icons">
			<li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
			<li><a href="" class="social-icon"> <i class="fa fa-instagram"></i></a></li>
			<li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
		</ul>

		 {% include 'nav.html' %}
</header>
<br><br>
<table>
	<tr>
		<td id="foto1">
			<a href="./visit.html">
			<img src="{% static 'img/shqiperi.jpg' %}" style="display:inline; margin-left: 10%; height:200px; width:600px">
			</a>
			<a href="./hands.html" target="_blank"><img src="{% static 'img/hands.png' %}"></a>
		</td>
	</tr>

	<tr class="general">
		<td id="general_facts">
			<h3>Общие сведения</h3>
		</td>
	</tr>
	<tr class="general_2">
		<td>
			<div class="sit-in-the-corner">Алба́ния (алб. Shqipëria), полная официальная форма — Респу́блика Алба́ния — государство в западной
			части Балканского полуострова. Население, по данным Института статистики Албании на 1 января 2020 года, составляет  2 845 955 человек,
			территория — 28 748 км². Столица — Тирана. <a href="https://www.google.com/maps/place/%D0%90%D0%BB%D0%B1%D0%B0%D0%BD%D0%B8%D1%8F/" target="_blank"><img src="{% static 'img/harta.png' %}" style="width:300px; height:350px;"></a> Государственный язык — албанский. Албания — унитарное государство, парламентская республика.
			Располагается на юго-востоке Европы на побережье Адриатического и Ионического морей. Пролив Отранто отделяет Албанию от Италии.
			На северо-востоке граничит с Сербией, частично признанной Республикой Косово, на северо-западе — с Черногорией, на востоке — с Северной
			Македонией, на юго-востоке — с Грецией. Албания является одной из стран Европы с преобладающим мусульманским населением. Албания — член
			НАТО с 2009 года. Официальный кандидат на вступление в ЕС.
			<br>
			Бо́льшая часть Албании занята горами и холмами, которые проходят в разных направлениях по всей длине и ширине территории страны. Одной из
			самых важных особенностей географии Албании является наличие многочисленных и крупных озёр. Расположенное на северо-западе страны, на границе
			с Черногорией, озеро Шкодер — крупнейшее в Южной Европе. Его третья часть и 57 км побережья принадлежит Албании. На юго-востоке на возвышенности
			находится Охридское озеро (разделённое с Северной Македонией), одно из старейших постоянно существующих озёр в мире. Оно имеет глубину 289 м и
			уникальные флору и фауну, из-за чего находится под охраной ЮНЕСКО. Далее на юг простираются Большое и Малое озёра Преспа, которые являются одними
			из высочайших озёр на Балканах. Реки Албании берут своё начало преимущественно на востоке страны и впадают в Адриатическое море на западе. Самой
			длинной рекой Албании, измеряемой от устья до истока, вероятно, является Дрин, начинающийся в месте слияния двух своих верховьев: Чёрного и Белого
			Дрина, и протекающий на севере государства. Вьоса — одна из последних нетронутых крупных речных систем в Европе.
			<br>
			Благодаря своему географическому расположению в центре Средиземного моря и большому разнообразию климатических, геологических и гидрологических
			условий Албания обладает исключительно богатым и контрастным биоразнообразием. Оно охраняется за счёт наличия в стране 14 национальных парков,
			1 морского парка, 4 рамсарских угодий, 1 биосферного заповедника и 786 охраняемых природных территорий различных категорий.

			<div class="slider">
			    <div class="slides">
					<div id="slide-1"><p><img src="{% static 'img/lejlek.png' %}">Кулики</p></div>
					<div id="slide-2"><p><img src="{% static 'img/flamingo.png' %}">Фламинго</p></div>
					<div id="slide-3"><p><img src="{% static 'img/shqip2.png' %}"/>Горный орел</p></div>
					<div id="slide-4"><p><img src="{% static 'img/pate.png' %}" style="height:230px"/>Гусь</p></div>
					<div id="slide-5"><p><img src="{% static 'img/pelikan.png' %}"/>Кудрявые пеликаны</p></div>
			    </div>
			</div>
				<ol>
					<li>Из-за своей удалённости
			горы и холмы Албании покрыты лесами, деревьями и травами, необходимыми для обитания самых разных животных: включая двух самых значимых исчезающих
			видов страны (рыси и бурого медведя), а также дикой кошки, серого волка, рыжей лисицы, обыкновенного шакала, стервятника и беркута, национального
			животного страны. Эстуарии, болота и озёра Албании служат средой обитания для розового фламинго, малого баклана и чрезвычайно редкой и, возможно,
			самой знаковой птицы страны, далматинского пеликана. Особое значение для животного мира страны имеют средиземноморский тюлень-монах, головастая
			черепаха и зелёная черепаха, использующие её прибрежные воды и берега для вывода своего потомства.
			<br></li>
					<li>В географии растений территория Албании является частью Голарктического царства, находясь в его Циркумбореальной и Средиземноморской областях.
			Она условно подразделяется на четыре земных экорегиона Палеарктической экозоны: иллирийские лиственные леса, балканские смешанные леса, пиндские
			смешанные леса и динарские смешанные леса.
			<br></li>
					<li>
						<b><i>Климат</i></b> прибрежной (западной) части страны — средиземноморский, переходящий к востоку в континентальный.
						<ul>
							<li>Средняя температура июля на побережье — от +28 до +32° С,</li>
							<li>Средняя температура января на побережье — от от +8 до +10° С.,</li>
						</ul>
						Высокие летние температуры на побережье переносятся легко из-за постоянно дующего средиземноморского бриза.
			Туристический сезон продолжается с мая по сентябрь, но на воздухе комфортно находиться также в апреле и октябре. В году около 300 солнечных дней.
			Ранней весной и поздней осенью идут дожди. В горах Албании климат значительно более холодный — зимой температура может опускаться до −20° С.
					</li>
				</ol>
			</div>
		</td>
	</tr>

	<tr class="general">
		<td id="video">
			<h3>Албания за минуту</h3>
		</td>
	</tr>
	<tr class="general_2">
		<td>
			<video style="margin-left:280px;" width="500" height="500" controls>
			<source src="{% static 'img/video.mp4' %}" type="video/mp4">
			<div style="border: 1px solid black; padding: 8px;color:white;">
			Sorry, your browser does not support the &lt;video&gt; tag used in this demo.
			</div>
			</video>
		</td>
	</tr>

	<tr class="general">
		<td id="history">
			<h3>История</h3>
		</td>
	</tr>
	<tr class="general_2">
		<td>
			<div class="sit-in-the-corner">Первые следы человеческого присутствия в Албании, относящиеся к эпохам среднего и позднего палеолита, были найдены в деревне Дзарре
			(недалеко от Саранды) и на горе Дайти (около Тираны). В центральной и южной Албании было обнаружено несколько артефактов бронзового века из захоронений в курганах,
			которые демонстрируют тесную связь этих территорий с юго-западной Македонией и Лефкасом. Археологи пришли к выводу, что эти регионы были заселены с середины III
			тысячелетия до н. э. индоевропейцами, говорившими на протогреческом языке.
			В античности территория современной Албании была преимущественно населена множеством иллирийских племён. Иллирийское племя ардиеев управляло большей частью современной Албании.

			После того, как Римская империя в IV веке была разделена на Восточную и Западную, территория Албании оставалась в пределах Восточной Римской Империи. В последующие столетия
			Балканский полуостров страдал от нашествий варваров. Иллирийцы в последний раз упоминаются в тексте VII века. В конце XII—начале XIII веков сербы и венецианцы начали захватывать албанские земли.
			<img src="{% static 'img/skenderbe.png' %}" style="width:240px; height:280px;">
			Этногенез албанцев неясен, однако первое бесспорное упоминание об албанцах датируется 1079 или 1080 годами. В исторических записях Михаила Атталиата содержатся упоминание об
			участии албаноев в восстании против Константинополя. К тому времени албанцы были полностью христианизированы.
			Первое полунезависимое албанское государство было сформировано в 1190 году, когда архонт Прогон основал княжество Арберия со столицей в Круе, находившееся в составе Византийской империи.
			Через несколько лет после распада Арберии Карл I Анжуйский заключил соглашение с албанскими правителями, пообещав защищать их и их древние свободы. В 1272 году он основал королевство
			Албания и присоединил к нему области, отвоёванные у Эпирского царства. Королевство претендовало на всю территорию центральной Албании: от Диррахия вдоль побережья Адриатического моря до Бутринти.
			Расширение этого католического королевства способствовало и распространению католицизма в этом регионе Балканского полуострова. В первой половине XV века Османская империя вторглась на большую часть
			Албании, в ответ была создана Лежская лига под руководством Скандербега, ставшего национальным героем.
			Османское вторжение на территорию Албании ознаменовало новую эру в её истории и внесло огромные изменения в политическую и культурную жизнь этого региона. В 1385 году османы впервые достигли
			албанского побережья. К 1415 году они создали свои гарнизоны на юге Албании, а 1431 году заняли большую часть её территории. С появлением османов ислам стал второй религией в Албании в результате
			массовой эмиграции албанцев-христиан в другие христианские европейские страны (арбереши в Италии). В то же время албанцы-мусульмане постепенно переселялись в Турцию и другие части Османской империи,
			такие как Алжир, Египет и Ирак.
			В 1443 году под предводительством Скандербега началось большое и долгое восстание, продолжавшееся до 1479 года. Он неоднократно побеждал крупные османские армии во главе с Мурадом II и Мехмедом II.
			Скандербег сначала объединил албанских князей, а затем установил централизованную власть над большей частью не завоёванных османами территорий, будучи признанным правителем Албании.

			<img src="{% static 'img/pavaresi.png' %}" style="width:300px; height:180px">Скандерберг неустанно, но безуспешно пытался создать европейскую коалицию против Османской империи. Он срывал все их попытки вернуть Албанию под свою власть, которую османы считали плацдармом для вторжения
			в Италию и Западную Европу. Его неравная борьба с могущественнейшей державой того времени завоевала уважение Европы, а также получила некоторую финансовую и военную помощь от Неаполя, Венеции, Сицилии и Папы Римского.
			Когда османы наконец сумели вернуть себе контроль над Албанией, они разделили её на четыре санджака. Власти способствовали развитию торговли в албанских землях, разместив в регионе значительное количество
			еврейских беженцев, изгнанных из Испании. Порт Влёры играл важное значение в торговле между Османской империей и Западной Европой.
			Процесс исламизации населения шёл постепенно, лишь в XVII веке большинство албанцев стали мусульманами. Этот процесс был постепенным, начиная с прибытия Османов. Держатели тимаров не обязательно были
			обращены в ислам и иногда восставали против Османской империи.
			В ноябре 1908 года, после свержения султана Абдул-Хамида II, в Битоле был проведён первый национальный конгресс. В 1910 году на севере Албании вспыхнуло восстание. В следующем году новое восстание поставило
			своей целью получить автономию для Албании. <img src="{% static 'img/usa.png' %}" style="width:160px; height:240px;"> Весной 1912 года произошло общенародное восстание, повстанцы захватили Скопье, Дибру, Эльбасан, Пермети. 23 августа было объявлено перемирие; албанскому народу
			предоставлялась определённая автономия, но административно автономия так и не была закреплена.

			В октябре 1912 года началась Первая Балканская война. 28 ноября в городе Влёре съезд представителей различных слоёв населения провозгласил Албанию независимым государством и сформировал первое временное
			правительство.  В 1912—1913 годах Австро-Венгрия, Великобритания, Германия, Италия, Россия и Франция признали вначале автономию, а затем — независимость Албании от Турции. Первый парламент Албании создан в
			1920 году, в ходе борьбы за независимость страны и против её раздела по Парижскому миру между Грецией, Италией и Югославией.
			В 1928 году парламент распущен, Албания провозглашена королевством.
			В апреле 1939 года Италия оккупировала Албанию, король Зогу I бежал из страны. Движение сопротивления возглавили прокоммунистические силы. В ноябре 1941 года была создана единая структура КПА, которая должна
			была возглавить освободительную борьбу. В июле 1943 года Генеральный совет Национально-освободительного фронта принял решение об организации Генерального штаба Национально-освободительной армии. В мае 1944 года
			на 1-м Антифашистском национально-освободительном конгрессе был сформирован Антифашистский национально-освободительный комитет, которому передавались функции временного правительства. В 1944 году введено всеобщее
			избирательное право. В 1945 году прошли парламентские выборы, на которых 97,7 % голосов получил возглавлявшийся коммунистами Демократический фронт (другие политические силы не принимали участия в выборах). Постепенно
			власть в своих руках сосредоточил Энвер Ходжа, жестоко расправлявшийся со своими политическими соперниками. Утвердилось монопольное правление Албанской партии труда (АПТ, до 1948 — Коммунистическая партия Албании).
			<img src="{% static 'img/enver.png' %}" style="width:240px; height:240px;"> До 1956 года Албания поддерживала отношения с Союзом Советских Социалистических Республик в противовес Югославии, однако после XX съезда КПСС был принят курс на политическую изоляцию. Отношения поддерживались только
			с КНР и Румынией. В 1968 году, протестуя против советской интервенции в Чехословакию, Албания вышла из Варшавского договора. Страна жила в режиме постоянной готовности к войне. В 1967 году Албания была провозглашена
			атеистическим государством.
			В 1978 году было резко свёрнуто сотрудничество с КНР. После смерти Энвера Ходжи в 1985 году новый лидер АПТ и НСРА Рамиз Алия начал политику постепенных экономических преобразований и расширения отношений с
			другими странами.
			В 1990—1992 годах произошло падение коммунистического режима в Албании. Страна перешла к многопартийной системе и рыночной экономике. Власть в Албании попеременно сменяли Социалистическая партия Албании
			(представляет, в основном, промышленно развитые южные регионы, лидер — Эди Рама) и Демократическая партия Албании (представляет, в основном, север страны, лидер — Сали Бериша). В стране была предпринята попытка осудить
			бывшего лидера — Рамиза Алию, однако в результате уличных беспорядков он был освобождён из тюрьмы. В 1997 году в стране произошли беспорядки, вызванные банкротством финансовых пирамид Албании, которые впоследствии привели к
			использованию армии и смене власти. С 1 апреля 2009 года Албания — член НАТО.
			29 апреля 2009 года Албания официально обратилась к Европейскому союзу с просьбой о принятии её в члены этой организации. Официальный кандидат на вступление в ЕС (с 2014 года)
			</div>
		</td>
	</tr>

	<tr class="general">
		<td id="food">
			<h3>Кухня</h3>
		</td>
	</tr>
	<tr class="general_2">
		<td>
			<div class="sit-in-the-corner">Кухня Албании является средиземноморской, сформировавшейся под влиянием многих кухонь, в том числе итальянской и турецкой кухонь. Любителям гастротуров следует знать, что в Албании существует принцип территориальности и сезонности продуктов. То же самое относится
			и к рецептам блюд. Одно и то же блюдо в разных районах страны может существенно отличаться по составу и способу приготовления. В Албании много готовят из говядины, баранины, птицы, рыбы, морепродуктов, сочетая их с овощами, рисом, травами и чесноком.

			Традиционный албанский аперитив — ракия (raki) или бокал красного вина. Ракию делают не только из винограда. Вы можете встретить ежевичную, сливовую, грушевую, кизиловую ракию. Этот напиток готовит практически каждая албанская семья. Вина
			так же производят повсеместно, в большинстве своем преобладают красные. Это качественные и вкусные напитки. Почти в каждом ресторанчике, можно попросить домашнего вина. Если вы предпочитаете пиво, то на выбор вам предложат национальную
			гордость — пиво «Корча» или не менее известное — пиво «Тирана».

			Традиционное и весьма знаменитое албанское блюдо, которое вы можете попробовать в ресторане, называется «Фергесе» (Fergese). Существует его овощной и мясной вариант. В первом случае оно готовится из помидоров, зеленого и красного перца, с добавлением лука, специй и творога (рикоты). Блюдо запекают
			в духовке, а подают с лепешкой или хлебом, который, смело, можете макать в глиняную тарелку. «Фергесе» — очень густое, сытное и вкусное блюдо даже без мяса! Если вы выберите мясной вариант, то вместо овощей в тарелке окажется молодая баранина.

			Тав коси это запеченная баранина под шапкой из йогурта. Кусочки мяса запекают с рисом в смеси из йогурта и яйца с травами и чесноком. Блюдо приобретает нежную текстуру и внешне даже напоминает пирог из-за румяной корочки из запеченного йогурта. Это праздничное блюдо, которое раньше готовили на
			семью по особому случаю, но сейчас его можно попробовать в любой день в албанских кафе и ресторанах.

			Имам баджаллди это вегетарианское блюдо и его принято подавать с йогуртом или мягким сыром в качестве соуса. Острые баклажаны запеченные с томатами, болгарским перцем и чесноком напоминают об османской традиции. По легенде, когда лодочки из баклажанов попробовал имам, он упал в обморок от их вкуса.
			Поэтому их так и называют: “имам упал в обморок”.

			В Албании вы можете отведать не только морскую рыбу сибаса, дораду, камбалу, кефаль, но и пресноводную — форель, угря или карпа. Блюда из рыбы готовят либо на гриле, либо запекаются в духовке с овощами и специями, с добавлением оливкового масла. Запеченная форель с луком и помидорами — традиционное блюдо албанской кухни. Не менее вкусен рыбный суп-уха Levrek (Ливрек) из сибаса или морского окуня. Из морепродуктов рекомендуем вам попробовать мидии и щупальца осьминога. Все дары моря в Албании: креветки, кальмары, устрицы, лобстеры — заслуживают вашего внимания!

			Tave karkaleci me pana – креветки, запеченные в сливочном соусе. Отваренные креветки поливают лимонным соком, солят и посыпают пряными травами. Заливают соусом из сливок и яиц и запекают в горшочке.
			Gjuze и merluk – популярная белая рыба. Готовят на гриле, подают, поливая лимонным соком с гарниром из риса и тушеных овощей.

			Qofte – кефте, колбаски из рубленого фарша. Традиционное турецкое блюдо на Балканах готовят по-особенному. Фарш из курицы, телятины или баранины мелко рубят ножом, добавляют разные специи и жарят на решетке. Получается сочная колбаска, подают блюдо гарниром из риса и овощей, с домашним йогуртом и лавашом.

			Byrek – бурек, выпечка из слоеного теста с начинкой. Булочка из тонкого теста с начинкой из мясного фарша, рассольного сыра или овощей. Традиционная уличная еда, которая продается на каждом шагу, подают со стаканчиком холодного айрана.

			Speça me Gjize – спеца ми джиз, фаршированные перцы. Блюдо, популярное на Балканах, напоминает наши голубцы. Перцы фаршируют рисом с пряностями и домашним творогом и запекают в духовке. Затем тушат в казане в соусе из сливочного масла и перца чили. Подают с кусочками свежего хрустящего хлеба, которым принято
			вымачивать острый соус.

			Традиционным десертом албанской кухни считается «ошаф» - сушеные фрукты, которые подают вместе с фруктовым сиропом. Любят албанцы и блюдо под названием «ашуре» - сладкий пудинг из пшеницы. В местных ресторанах традиционной кухни вы можете найти и «Сутляш» - рисовый пудинг с корицей.
			Kabuni – кабуни, рисовый пудинг. Рис обжаривают на сливочном масле и затем варят в пряном несоленом бульоне из баранины. Потом тушат в казане с добавлением изюма, и посыпают гвоздикой, корицей и сахаром. Подают пудинг холодным, посыпав сладкой крошкой и поливая вареньем.
			Shendetli – шэндетли, бисквитный торт. Попробовать этот десерт вы сможете только в Албании. Большой кекс пекут на крепком кофе, в тесто добавляют много сливочного масла, ваниль, орешки и цукаты. Подают со взбитыми сливками и вареньем из ежевики, белой черешни или шелковицы.
			Gliko — глико, фруктовый мармелад. Фрукты в Албании созревают два раза за сезон. Из них готовят великолепные варенье, конфитюры, и, конечно, мармелад, который режут кусочками и подают к кофе и чаю.

			Boza – боза, традиционный напиток, напоминающий квас. Готовят из ферментированных кукурузных или пшеничных зерен с добавлением сахара. Затем процеживают и пьют холодным, продается в каждом кафе и в бутылках в магазинах.
			Raki – ракия, фруктовая водка. Как и всюду на Балканах, традиционным напитком стала ракия. Готовят из разных фруктов, но в основном из винограда, крепость высокая, 50%. Подают к горячим мясным блюдам, наливая в маленькие стопки.

			</div>
		</td>
	</tr>



</table>

<footer>
	<p class="copyright"> Copyright ©2021 </p>
</footer>
</body>
</html>
