<!DOCTYPE HTML>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Албания </title>
	<link rel = "icon" href="{% static 'img/logo1.png' %}" type = "image/x-icon">
	<link type="text/css" rel="stylesheet" href="{% static 'css/visit.css' %}">
</head>
<body>
<header>

		<img src="{% static 'img/logo.png' %}">
		<ul class="social-icons">
			<li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
			<li><a href="" class="social-icon"> <i class="fa fa-instagram"></i></a></li>
			<li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
		</ul>

		{% include 'nav.html' %}
</header>

<table>
<br><br><br>
	<tr>
		<!-- Slideshow container -->
		<div class="slideshow-container">

		<!-- Full-width images with number and caption text -->
		<div class="mySlides fade">
		<a href="./photo/backgr2.png" target="_blank">
		<img src="{% static 'img/backgr2.png' %}" style="width:100%"></a>
		<div class="text">Alpet</div>
		</div>

		<div class="mySlides fade">
		<a href="./photo/kepi.png" target="_blank">
		<img src="{% static 'img/kepi.png' %}" style="margin-left:150px;height:400px"></a>
		<div class="text">Kep Merli, Sarande</div>
		</div>

		<div class="mySlides fade">
		<img src="{% static 'img/liqeni_shk.png' %}" style="margin-left:40px;height:350px">
		<div class="text">Liqeni i Shkodres</div>
		</div>

		<div class="mySlides fade">
		<img src="{% static 'img/skrapar.png' %}" style="margin-left:150px;height:400px">
		<div class="text">Skrapar</div>
		</div>

		<div class="mySlides fade">
		<img src="{% static 'img/ksamil.png' %}" style="margin-left:150px;height:400px">
		<div class="text">Ksamil, Sarande</div>
		</div>

		<div class="mySlides fade">
		<img src="{% static 'img/berat.png' %}" style="margin-left:-10px;height:350px">
		<div class="text">Berat</div>
		</div>

		<div class="mySlides fade">
		<img src="{% static 'img/qeparo.png' %}" style="margin-left:150px;height:400px">
		<div class="text">Qeparo, Vlore</div>
		</div>

		</div>
		<br>


		<!-- The dots/circles -->
		<div style="text-align:center">
		<span class="dot" onclick="currentSlide(1)"></span>
		<span class="dot" onclick="currentSlide(2)"></span>
		<span class="dot" onclick="currentSlide(3)"></span>
		<span class="dot" onclick="currentSlide(4)"></span>
		<span class="dot" onclick="currentSlide(5)"></span>
		<span class="dot" onclick="currentSlide(6)"></span>
		<span class="dot" onclick="currentSlide(7)"></span>
		</div>
		</tr>

	</tr>

	<tr class="general">
		<td id="tirana">
			<h3>Тирана</h3>
		</td>
	</tr>
	<tr class="general_2">
		<td>
			<div class="sit-in-the-corner"><a href="http://www.visit-tirana.com/" target="_blank" style="text-decoration:none;color:white"><b>Тира́на</a></b> (алб. Tiranë, Tirana) — столица и крупнейший город Албании, главный политический, экономический и культурный центр страны. Образует
			самостоятельную административную единицу, а также является административным центром одноимённых области и округа. Основан в 1614 году. Столица страны с 1920 года.
			В Тиране следует посмотреть:
			<ol>
				<li><i>Дайти — гора</i> и национальный парк в центре Албании, на восток от города Тираны. Высота горы 1613 метров. Зимой, когда вершина покрывается снегом, гора становится
				популярным местом для жителей Тираны, которые редко видят снегопад. Гора была объявлена национальным парком Албании в 1966 году, а в 2006 году территорию парка расширили
				до 29,384 гектаров.
					<div class="slider">
						<div class="slides_">
							<div id="slide-1"><p><img src="{% static 'img/dajt.png' %}" style="width:250px; height:250px">Дайти - гора</p></div>
							<div id="slide-2"><p><img src="{% static 'img/bovill.png' %}" style="width:320px; height:250px">Озеро Бовилла</p></div>
							<div id="slide-3"><p><img src="{% static 'img/petrel.png' %}" style="width:340px; height:250px">Замок Петреле</p></div>
							<div id="slide-4"><p><img src="{% static 'img/syr.png' %}" style="width:300px; height:250px">Глаз Циклопа</p></div>
							<div id="slide-5"><p><img src="{% static 'img/tujani.png' %}" style="width:300px; height:250px">Tujan Canyons</p></div>
						</div>
					</div>
				<li><i>Озеро Бовилла</i> представляет собой водохранилище площадью 4,6 квадратных километра (1,8 квадратных миль) в Албании, примерно в 9 милях (14 км) к северо-востоку от Тираны и
				к юго-востоку от Круи, в национальном парке Маунт Дайт. Он обеспечивает большую часть питьевой воды для Тираны.
				Водохранилище образовано плотиной реки Теркузе, притока Ишема. Теркузе берет свое начало к востоку от внешней цепи прибрежного горного хребта, проходя через глубокий каньон Шкалле-э-Бовилле между горой
				Майя-э-Гомтит (1268 м) и горой Мали-и-Бьешит (1239 м). Плотина стоит у входа в этот каньон и сделана из местного конгломерата, гравия и песка. Его высота составляет 91 м, а длина-130 м. </li>
				<li><i>Замок Петреле</i> (албанский: Kalaja e Petrelës) это замок в Petrelë, центральный Албания. Его история восходит к Юстиниан I. Замок Петреле находится на высоте 329 метров (1079 футов) над
				уровнем моря. Замок Petrelë имеет богатую историю, в нем есть башня, построенная в 6 веке нашей эры. Это одно из туристических мест недалеко от Тирана что привлекает большое количество посетителей. Замок, видное
				деревянное строение, представляет собой ресторан, расположен на скалистом холме над одноименной деревней. Он имеет треугольную форму с двумя смотровыми вышками. Хотя оно было впервые построено в древности, нынешнее здание датируется 15 веком.
				Замок Петрела был частью системы сигнализации и обороны Замок Круе. Замки сигнализировали друг другу посредством пожаров. В течение СкандербегС бороться против османов, замок Петрела раньше находился под командованием Мамика Кастриоти,
				Сестра Скандербега. Сегодня в замке находится ресторан. С территории замка открывается вид на Эрзенская долина, холмы, оливковые рощи и окружающие горы.</li>
				<li><i>Глаз Циклопа </i>находится в деревне Кррабе, недалеко от Тираны. Согласно легенде, циклоп во время поединка с зверем упал в бездну и потерял глаз и сердце. Его глаза и сердце создают бассейн с холодной водой, где можно нырять на глубину
				5 метров. Это место быстро стало одним из самых любимых мест как для местных жителей, так и для туристов. Это природное сокровище, расположенное на выходе из Кррабы, каждый день привлекает все больше и больше людей, которые не хотят жить в своих
				зонах комфорта, но стремятся открыть для себя то, что скрыто, и в полной мере насладиться собой. Помимо захватывающих дух видов, Cyclops Eye предлагает возможность принять ванну в жаркие дни. Еще одним преимуществом этого туристического направления
				является его расположение в непосредственной близости от Тираны, до которого можно добраться за счет низкой стоимости транспортировки. Циклоп требует смелого духа, потому что местность в этом районе немного сложная и требует немного усилий. Cyclop's
				Eye также идеально подходит для активного отдыха, что делает его более интересным.</li>
			</ol>
			<br></div>
		</td>
	</tr>

	<tr class="general">
		<td id="vlore">
			<h3>Влëра</h3>
		</td>
	</tr>
	<tr class="general_2">
		<td><div class="sit-in-the-corner">
		Влё́ра(алб. Vlorа) — город на юге Албании, административный центр области Влёра и округа (рети) Влёра. Железнодорожная станция. Морской порт на берегу залива Влёра Адриатического моря. Население — около 130 тыс.
		жителей (по оценке на 2015 год).
		<div class="slider">
			<div class="slides_">
				<div id="slide-1"><p><img src="{% static 'img/gjipe.png' %}" style="width:260px; height:260px">Пляж Джипеа</p></div>
				<div id="slide-2"><p><img src="{% static 'img/llogara.png' %}" style="width:300px; height:250px">Национальный парк «Логара́»</p></div>
				<div id="slide-3"><p><img src="{% static 'img/sazani.png' %}" style="width:300px; height:250px">Остров Сазан</p></div>
				<div id="slide-4"><p><img src="{% static 'img/zverneci.png' %}" style="width:340px; height:250px">Монастырь Звернец</p></div>
				<div id="slide-5"><p><img src="{% static 'img/lungomare.png' %}" style="width:340px; height:250px">Lungomare</p></div>
				<div id="slide-5"><p><img src="{% static 'img/lungomar.png' %}" style="width:300px; height:230px">Lungomare</p></div>
				<div id="slide-6"><p><img src="{% static 'img/parashute.png' %}" style="width:300px; height:250px"></p></div>
				<div id="slide-7"><p><img src="{% static 'img/kanina.png' %}" style="width:300px; height:250px">Канина</p></div>
			</div>
		</div>
		С VI века до н. э. на месте Влёры существовала греческая колония Авлон (др.-греч. Αύλών). В течение IV века до н. э. часто упоминается в качестве важного порта для кораблей, которые плыли из Отранто и Бриндизи,
		и переправочного пункта между двумя другими античными городами в Албании — Бутринтом и Аполлонией. В 1481 году греческий военачальник на неаполитанской службе Крокодилос Кладас при поддержке местных греческих и албанских повстанцев отбил город у турок.
		Город находился под контролем Неаполитанского королевства десять лет. 28 ноября 1912 года Исмаил Кемали провозгласил во Влёре независимость страны и город стал первой столицей независимой Албании. В 1920 году, во время войны с Италией, город стал местом
		ожесточённых боёв. С 1955 по 1962 год база Паша-Лиман близ Орикума использовалась ВМФ СССР как военно-морская база, а затем, в связи с выходом Албании из Варшавского договора, была потеряна в этом качестве. В 1997 году город оказался одним из мест, где
		начались получившие широкую известность беспорядки. Влера наиболее популярна в летние месяцы, когда воздух прогревается до 25-30 градусов, а температура воды во Влере может достичь 26 градусов. Именно это время больше всего подходит для морского отдыха.
		Курортный сезон длится во Влере с мая (но купаться с удовольствием в это время вряд ли получится) до октября. В сентябре наступает межсезонье, когда море еще теплое, солнышко, по большей части, ласковое, но возможны и неприятные погодные сюрпризы. Зато
		аренда жилья в это время значительно меньше, да и лежаки на пустынных пляжах выдают совершенно бесплатно.
			</div></td>
	</tr>

	<tr class="general">
		<td id="shkoder">
			<h3>Шкодер</h3>
		</td>
	</tr>
	<tr class="general_2">
		<td>
			<div class="sit-in-the-corner">Шко́дер или Шкодра, устар. Скутари (алб. Shkodër, Shkodra) славянское название Скадар — город в Албании,
			расположенный на берегу Скадарского озера в 20 км от побережья Адриатического моря, вблизи слияния рек Дрин и Буны.
			<div class="slider">
				<div class="slides_">
					<div id="slide-1"><p><img src="{% static 'img/rozafa.png' %}" style="width:300px; height:250px">Крепость Розафа</p></div>
					<div id="slide-3"><p><img src="{% static 'img/valb.png' %}" style="width:320px; height:240px">Национальный парк Долина Вальбоны </p></div>
					<div id="slide-4"><p><img src="{% static 'img/valb_2.png' %}" style="width:300px; height:200px">Вальбона</p></div>
					<div id="slide-5"><p><img src="{% static 'img/theth.png' %}" style="width:300px; height:210px">Theth</p></div>
					<div id="slide-5"><p><img src="{% static 'img/blue.png' %}" style="width:310px; height:200px">Blue Eye of Theth</p></div>
					<div id="slide-6"><p><img src="{% static 'img/ure.png' %}" style="width:300px; height:240px"></p></div>
					<div id="slide-6"><p><img src="{% static 'img/bore.png' %}" style="width:300px; height:220px"></p></div>
					<div id="slide-2"><p><img src="{% static 'img/shkoder.png' %}" style="width:300px; height:240px">Скадарское озеро</p></div>
				</div>
			</div>
			В 13 км от города пролегает государственная граница с Черногорией. Является административным центром области Шкодер и округа Шкодер.
			Шкодер — четвертый по величине город в Албании. По состоянию на 2011 год население города составляет 135 612 человек. Шкодер — один из древнейших и наиболее известных городов Албании с богатейшим историко-культурным наследием. В настоящее время также является
			основным экономическим центром северной Албании. Албанское название города Shkodër, так же как и славянское Скадар, по наиболее распространённой версии, происходит от латинского слова scutarii, что в буквальном переводе означает «защитники», и относилось к
			располагавшемуся здесь в поздний римский период легиону. В настоящее время Шкодер — важный промышленный и образовательный центр. В городе развито машиностроение, текстильное производство и производство электроники, а также пищевая промышленность. В городе
			находятся университет, библиотека (250 тыс. томов), театр, художественная галерея, исторический музей.
			Большую часть населения составляют этнические албанцы и почти полностью ассимилированные ими славяне. В отличие от центральной и южной Албании, большое место в жизни современного Шкодера и его округи по-прежнему играет католицизм, который исповедует значительная
			часть населения. С точки зрения туризма город развит недостаточно, однако благодаря близкому соседству Черногории туристическая отрасль начинает играть все более важную роль. Главной туристической достопримечательностью города является Шкодерская крепость,
			которая, несмотря на многочисленные разрушения и перестройки, хорошо сохранилась.
			<br></div>
		</td>
	</tr>

</table>

<footer>
	<p class="copyright"> Copyright ©2021 </p>
</footer>
<script src="{% static 'js/visit.js' %}"></script>
</body>
</html>
